#header{
	width: 950px;
	margin: 30px auto;
}
#headerLeft{ 
	float: left;
}
#headerLeft img[src*="img/zhuce/jietu34"]{
	padding-left:35px ;
	padding-right: 15px;
	padding-top: 2px;
	vertical-align: middle;
	margin-bottom: 30px;
}
#headerLeft a{
	text-decoration: none;
	color: #A0A0A0;
	font-size: 20px;
	line-height: 10px;
}
#headerspan{
	position: relative;
	top: -10px;
}
#headerfont{
	text-indent: 20px;
}
#headerRight{
	float: right;
}
#headerRight span{
	color: #6679A8;
	font-size: 13px;
	padding-right: 7px;
}
#headerRight img{
	padding-bottom: 0px;
	vertical-align: middle;
}
#hrs{
	clear: both;
	width: 1140px;
	color: black;
	text-shadow: #A0A0A0;
}
#main{
	height: 500px;
}
#mainLeft{
	position: fixed;
	top: 280px;
	left: 14px;
	}
#mainCenter{
	margin-left:160px;
	margin-top: 50px;
}
.main1{
	width: 60px;
	color: #747474;
	font-size: 14px;
	font-weight: bold;
	padding-right: 8px;
	text-align: right;
}
.main2{
	width: 340px;
	height: 35px;
}
#register tr td:first-child{height: 60px;}
#register tr td:last-child{
	color: #A0A0A0;
	font-size: 11px;
	display: none;
}
div ul{border: 1px solid #A0A0A0;	
}
#yz{
	width: 175px;
	height: 35px;
	vertical-align: middle;
}
#checkbox{
	width: 350px;
	font-size: 12px;
}
a img[src*="img/zhuce/jietu36"]{
	margin-left: 6px;
	vertical-align: middle;
}
#mainRight{
	width: 25px;
	position: fixed;
	right: 0px;
	top: 240px;
}
#footer{
	padding-top: 30px;
	font-size: 12px;
	color: #7A77C8;
	text-align: center;
}
#header1{
	margin: 0px;
	width: 100%;
	height: 70px;
	background-color: #FCFCFC;
	border-bottom: 1px solid #DDDDDD;
}
#header1 img{
	padding-left:130px ;
	padding-top: 18px;
}
#main1{
	width: 100%;
	height: 750px;
	border-bottom: 1px solid #DDDDDD;
}
#mainCenter1{
	position: relative;
	left: 130px;
	top: -20px;
	height: 770px;
	width: 150px;
	background-color: #FCFCFC;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
#register1{
	color: #666666;
	font-size: 15px;
	height: 380px;
	width: 150px;
	text-indent: 10px;
}
#mainRight2{
	position: absolute;
	left: 380px;
	top: 100px;
	display: none;
}
h4~ul{
	border: none;
}
.chooses{
	color: #666666;
	font-size: 15px;
}
.question{
	display: none;
	padding-left: 35px;
	color:#9999A6;
	font-size: 14px;
}
